astroid==2.3.0
attrs==19.3.0
branca==0.3.1
certifi==2019.9.11
chardet==3.0.4
folium==0.10.0
idna==2.8
importlib-metadata==1.4.0
isort==4.3.21
Jinja2==2.10.1
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.1.0
numpy==1.17.2
packaging==20.1
pluggy==0.13.1
py==1.8.1
pygeoip==0.3.2
pylint==2.4.0
pyparsing==2.4.6
pyPdf==1.13
PyPDF2==1.26.0
pytest==5.3.4
requests==2.22.0
scipy==1.4.1
six==1.14.0
typed-ast==1.2.0
urllib3==1.25.8
virtualenv==16.7.3
wcwidth==0.1.8
wrapt==1.11.2
zipp==2.1.0
